/* Body styles */
body {
    font-family: 'Arial, sans-serif';
    color: yellow; /* Dark gray text */
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('assets/background_img.jpeg');
    line-height: "1.6";
  }
  
  /* Header styles */
header {
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

/* Main content styles */
main {
    padding: 20px;
}

/* Button styles */
button {
    color: white; /* Change text color to white */
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 10px 20px; /* Add padding to the buttons */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    border-radius: 5px; /* Add rounded corners */
}

button:hover {
    color: #007bff; /* Blue text on hover */
    background-color: rgba(0, 0, 0, 0.7); /* Darker semi-transparent background on hover */
}

/* Image styles */
img {
    width: 100%; /* Ensure image width spans the container */
    height: auto; /* Maintain aspect ratio */
}

li {
    list-style: none;
}

